@import url('https://www.cdnfonts.com/proxima-nova-2.font');

/* #3778c2 */

/* #5fb523 */

/* #434b54 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

body {
  font-size: 65%;
  font-family: 'Proxima Nova', sans-serif;
}
