.devise-forms {
  width: 100%;
  font-size: 2em;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.devise-forms h2 {
  background: #3778c2;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
}

form {
  width: 100%;
  margin: auto;
}

form input {
  width: 100%;
  padding: 1em;
  border: none;
  border-bottom: 1px solid #bbb;
}