<section class="devise-forms">
  <h1>New expense</h1>

  <%= render "form", expense: @expense %>

  <br>

  <div>
    <%= link_to 'Back to Budget Categories', budget_categories_path %>
  </div>
</section>
